/*  your css code here. If applicable */
.container{
	padding: 20px;
	width: fit-content;
	border: 2px solid black;
	border-radius: 15px;
	background-color: #D3D2D3;
}
.green, .yellow, .red{
	width: 100px;
	height: 100px;
	display: inline-block;
	border-radius: 50%
}
.green{
	background-color: green;
}
.yellow{
	background-color: yellow;
}
.red{
	background-color: red;
}